nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  padding-top: 40px;
  background-color: #FFF;
}

.status-toggler-container {
  display: flex;
}

.status-toggler-success {
  padding: 6px 16px;
  border-radius: 20px;
  background: linear-gradient(90deg, #9EEC79 0%, #81DD6B 100%);

  z-index: 1;

  span {
    color: #446734;
  }
}

.status-toggler-neutral {
  padding: 6px 16px;
  border-radius: 20px;
  background: rgba(217, 217, 217, 0.6);
  margin-left: -25px;

  &.pd-left {
    padding-left: 33px;
  }

  span {
    color: rgba(166, 165, 165, 0.4);
  }
}

.status-toggler-danger {
  padding: 6px 16px;
  border-radius: 20px;
  background: linear-gradient(90deg, #FF7272 0%, #FF5252 100%);
  margin-left: -25px;
  z-index: 1;

  span {
    color: #fff;
  }
}

.menu-container {
  display: flex;
  gap: 32px;
  align-items: center;

  color: #eefeff;
  font-weight: 500;

  .menu-item {
    cursor: pointer;

    &.active {
      padding-bottom: 4px;
      border-bottom: 2px solid #eefeff;
    }

    &:hover {
      padding-bottom: 4px;
      border-bottom: 2px solid #eefeff;
    }
  }
}

.profile {
  padding-top: 8px;
  padding-left: 60px;

  img {
    height: 40px;
    border-radius: 50%;
  }
}

.circle-name {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #2b2e9e;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  nav {
    gap: 1rem;

    .menu-container {
      .profile {
        padding: 0;
      }
    }
  }
}
