/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.title-gray {
  font-size: 30px;
  font-weight: bold;
  color: #949494;
}

.text-secondary {
  font-size: 14px;
  color: #949494;
}
