.reef-chart {
  height: 100px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 31px 26px 34px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 31px 26px 34px 0px rgba(0,0,0,0.13);
  box-shadow: 31px 26px 34px 0px rgba(0,0,0,0.13);
}
