.sensor {
  padding: 15px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 31px 26px 34px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 31px 26px 34px 0px rgba(0,0,0,0.13);
  box-shadow: 31px 26px 34px 0px rgba(0,0,0,0.13);

  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .title {
    font-weight: bold;
    font-size: 20px;
  }

  &.success {
    background: linear-gradient(90deg, rgba(22,174,180,1) 8%, rgba(75,234,199,1) 100%);
  }

  &.danger {
    background: rgb(244,134,150);
    background: linear-gradient(90deg, rgba(244,134,150,1) 8%, rgba(254,166,158,1) 100%);
  }

  .bottom-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
