.container {
  display: flex;
  height: 100%;
  width: 100%;
  background: rgb(75,165,184);
  background: linear-gradient(90deg, rgba(75,165,184,1) 46%, rgba(199,162,165,1) 76%, rgba(245,130,154,1) 95%);
}
