<div class="container">
  <div class="content">
    <reef-menu></reef-menu>

    <div class="content-inner">

      <div class="reef-shape">
        <div>
          <span class="title">Monitoramento</span>
          <p>
            Seu aquário está sendo monitorado e atualizado em tempo real para garantir um ambiente saudável
            e próspero para seus corais e peixes. Aqui você pode acompanhar todas as informações vitais e
            fazer ajustes necessários para manter seu ecossistema em perfeito estado.
          </p>
        </div>
      </div>

      <div class="sensors">

        <div class="sensor success">
          <span class="title">27.88 °C</span>
          <div class="bottom-info">
            <span>Temperatura</span>
            <span>09/06/24 19:28</span>
          </div>
        </div>

        <div class="sensor danger">
          <span class="title">27.88 °C</span>
          <div class="bottom-info">
            <span>Temperatura</span>
            <span>09/06/24 19:28</span>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
